@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.slider-video {
	position: relative;
	z-index: 1;
	height: 100vh;

	&__wrapper {
		position: relative;
		z-index: 2;
		display: flex;
		gap: 3rem;
	}

	&__column {
		flex: 0 1 50%;
		position: relative;
	}

	&__swiper {
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;
		margin: 0;

		& .swiper-pagination-horizontal {
			& .swiper-pagination-bullet {
				margin: 15px 0;
				width: clamp(0.625rem, 0.3750rem + 1.2500vw, 1.875rem);
			}

			& .swiper-pagination-bullet-active {
				width: clamp(1.25rem, 1.0000rem + 1.2500vw, 2.5rem);
				background: #fffbfb;
			}
		}
	}

	&__title {
		margin-bottom: 30px;
		@include mix.adaptivFont(50, 18);
		letter-spacing: clamp(0rem, -0.5923rem + 5.1726vw, 0.3125rem);
		line-height: 1.3em;

		@media screen and (min-width: 1920px) {
			font-size: 50px;
		}
	}

	&__description {
		max-width: 615px;
		line-height: clamp(1.313rem, 1.0810rem + 1.1600vw, 2.125rem);
	}

	&__link {
		position: relative;
		display: block;
		max-width: 615px;
		margin: 100px 0 30px 0;
		font-family: var.$subFamily;
		text-transform: uppercase;
		line-height: 1em;
		letter-spacing: 4px;
		@include mix.adaptivFont(40, 14);
		transition: opacity .6s;

		@media screen and (min-width: 1920px) {
			font-size: 40px;
		}

		&:hover {
			opacity: .7;
		}

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -20px;
			width: 100%;
			height: 2px;
			background: #fff;
		}
	}

	&__back {
		position: absolute;
		bottom: 25px;
		left: 1.3em;
		display: flex;
		align-items: center;
		gap: .5em;
		font-family: var.$subFamily;
		@include mix.adaptivFont(24, 14);

		@media screen and (min-width: 1920px) {
			font-size: 24px;
		}

		line-height: 1em;
		letter-spacing: clamp(0.7rem, 0.5239rem + 0.7512vw, 1.2rem);
		text-transform: uppercase;

		&>svg {
			width: clamp(2.5rem, 1.9643rem + 2.6786vw, 4.375rem);
			height: clamp(2.5rem, 1.9643rem + 2.6786vw, 4.375rem);
			transition: transform .6s ease;
		}

		@media (any-hover: hover) {
			&:hover {
				&>svg {
					transform: translateX(-3px);
				}
			}
		}
	}

	&__counter-wrapper {
		position: absolute;
		z-index: 3;
		top: 0;
		left: 50px;
		width: 100%;
	}

	&__counter {
		position: relative;
		padding: 50px 0 10px 0;
		font-family: var.$subFamily;
		@include mix.adaptivFont(48, 16);

		@media screen and (min-width: 1920px) {
			font-size: 48px;
		}

		font-weight: 400;
		line-height: 100%;
		letter-spacing: 2.4px;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			max-width: 150px;
			height: 2px;
			background: #fff;
		}
	}

	&__slide {
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;

		&.swiper-slide-active {
			.slider-video__wrapper {
				animation: transformText .6s forwards;
			}
		}

		&::before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000;
			opacity: .6;
		}
	}

	&__wrapper {
		opacity: 0;
	}

	&__video {
		display: block;
		position: absolute;
		z-index: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		min-width: 100%;
		min-height: 100%;
	}

	&__mobile-bx {
		display: none;
		align-items: center;
		gap: 1rem;
	}

	&__contact-link-content {
		text-transform: uppercase;
		padding: 0 0 25px 0;
	}

	&__navigation {
		position: absolute;
		z-index: 3;
		padding-bottom: 25px;
		bottom: 0;
		right: 50%;
		transform: translateX(50%);
		width: 100%;
		max-width: 1600px;
		height: clamp(2.5rem, 1.9643rem + 2.6786vw, 4.375rem);

		& svg {
			width: clamp(2.5rem, 1.9643rem + 2.6786vw, 4.375rem);
			height: clamp(2.5rem, 1.9643rem + 2.6786vw, 4.375rem);
		}
	}

	&__prev {
		&.swiper-button-prev {
			left: auto;
			right: 125px;
			top: auto;
			bottom: 25px;
			width: clamp(2.5rem, 1.9643rem + 2.6786vw, 4.375rem);
			height: clamp(2.5rem, 1.9643rem + 2.6786vw, 4.375rem);
			background: #000;
			transition: .6s transform;

			&:after {
				display: none;
				color: #fff;
			}

			@media (any-hover: hover) {
				&:hover {
					transform: translateX(-3px);
				}
			}
		}
	}

	&__next {
		&.swiper-button-next {
			right: 1.3em;
			top: auto;
			bottom: 25px;
			width: clamp(2.5rem, 1.9643rem + 2.6786vw, 4.375rem);
			height: clamp(2.5rem, 1.9643rem + 2.6786vw, 4.375rem);
			background: #000;
			transition: .6s transform;

			&:after {
				display: none;
				color: #fff;
			}

			@media (any-hover: hover) {
				&:hover {
					transform: translateX(3px);
				}
			}
		}
	}

	&__pagination {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		&.swiper-pagination-bullets {
			width: clamp(1.25rem, 1.0000rem + 1.2500vw, 2.5rem);
			bottom: 50%;
			right: clamp(0.62rem, 0.3806rem + 1.0216vw, 1.3rem);
			left: auto;
		}

		& .swiper-pagination-bullet {
			height: 3px;
			width: clamp(0.625rem, 0.3750rem + 1.2500vw, 1.875rem);
			margin: 1em 0;
			border-radius: 0;
			background: #a49393;
			transition: .6s width ease, .6s;
		}

		& .swiper-pagination-bullet:hover {
			width: clamp(1.25rem, 1.0000rem + 1.2500vw, 2.5rem);
			opacity: 1;
			background: #fffbfb;
		}

		& .swiper-pagination-bullet-active {
			width: clamp(1.25rem, 1.0000rem + 1.2500vw, 2.5rem);
			background: #fffbfb;
		}
	}
}

@keyframes transformText {
	from {
		opacity: 0;
		transform: translate(0, 10%);
	}

	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}