@use '../base/variable' as var;
@use '../base/mixin' as mix;

.subtitle {
	margin: 0;

	@media screen and (min-width: 1920px) {
		font-size: 25px;
	}

	@include mix.adaptivFont(var.$subTitleFontSize, 12);
	font-family: var.$subFamily;
	font-weight: var.$subTitleWeight;
	line-height: var.$subTitleHeight;
	color: var.$subTitleColor;
	letter-spacing: clamp(0.675rem, 0.4200rem + 1.2750vw, 1.95rem);
	text-transform: uppercase;
}

.subtitle-accent {
	display: block;
	margin-top: clamp(1.38rem, 1.0940rem + 1.4300vw, 2.81rem);
	@include mix.adaptivFont(110, 36);
	line-height: 1.3em;
	letter-spacing: clamp(0.225rem, 0.1324rem + 0.4630vw, 0.688rem);
}

.subtitle-description {
	@include mix.adaptivFont(24, 14);
	font-family: var.$subFamily;
	text-transform: lowercase;
	letter-spacing: clamp(0.7rem, 0.6000rem + 0.5000vw, 1.2rem);
	text-align: center;
}