@use '../base/variable' as var;
@use '../base/mixin' as mix;

.subtitle {
	margin: 0;
	@include mix.adaptivFont(var.$subTitleFontSize, var.$subTitleFontSizeMin);
	font-family: var.$subFamily;
	font-weight: var.$subTitleWeight;
	line-height: var.$subTitleHeight;
	color: var.$subTitleColor;
	letter-spacing: 31.2px;
	text-transform: uppercase;
	text-align: center;
}

.subtitle-accent {
	display: block;
	margin-top: 46px;
	@include mix.adaptivFont(110, 80);
	line-height: 100%;
	letter-spacing: 11px;
}

.subtitle-description {
	@include mix.adaptivFont(24, 18);
	font-family: var.$subFamily;
	text-transform: lowercase;
	letter-spacing: 19.2px;
}