@use '../base/variable' as var;
@use '../base/mixin' as mix;
@use '../base/extentsions';

.key {
	position: relative;
	@include mix.displayFlex(flex, center, center);
	height: 100vh;
	visibility: visible;
	opacity: 1;
	transition: visible .6s, opacity .5s;

	&.hidden {
		visibility: hidden;
		opacity: 0;
		display: none;
	}

	&__wrapper {
		position: relative;
		z-index: 1;
		height: 100%;
		@include mix.displayFlex(flex, center, center);
		flex-direction: column;
		gap: 46px;
		margin-bottom: 50px;
	}

	&__title {
		text-align: center;
	}

	&__swiper {
		width: 100%;
		max-width: 900px;
		min-height: 140px;
		padding-bottom: 80px;

		& .swiper-pagination-horizontal {

			& .swiper-pagination-bullet {
				margin: 0 15px;
			}

		}
	}

	&__slide-content {
		padding: 10px 40px;
		text-align: center;
		@include mix.adaptivFont(20, 14);

		@media screen and (min-width: 1920px) {
			font-size: 20px;
		}

		line-height: 1.7em;
		font-weight: 400;
		opacity: 1;
	}

	&__pagination {

		& .swiper-pagination-bullets {
			bottom: 0;
		}

		& .swiper-pagination-bullet {
			height: 30px;
			width: 3px;
			border-radius: 0;
			background: #a49393;
			transition: .6s height ease;
		}

		& .swiper-pagination-bullet-active {
			height: 40px;
			background: #FFFBFB;
		}
	}
}

.swiper-slide-active .key__slide-content {
	animation: opacitySlide 4s ease;
}

@keyframes opacitySlide {
	from {
		opacity: 0;
	}
}