@use '../base/variable' as var;
@use 'hero';
@use 'key';
@use 'main-slider';

.main {
	position: relative;
	z-index: 2;
	height: 100%;
	opacity: 1;

	&._show {
		visibility: hidden;
		opacity: 0;
	}
}