@use 'base/variable' as var;
@use 'base/mixin' as mix;
@use 'base/extentsions';

html,
body {
	height: 100%;
	scrollbar-color: var.$accentColorTwo var.$lightColor;
	scrollbar-width: thin;
	font-family: var.$family;
	font-weight: 400;
	line-height: var.$generalLineHeight;
	letter-spacing: var.$letterSpacing;
	color: var.$generalColorText;
	scroll-behavior: smooth;
	background: var.$mainBg;
}

* {
	box-sizing: border-box;
}

* img {
	display: block;
	max-width: 100%;
}

h1 {
	margin: 0;
}

button {
	outline: none;
	border: none;
	background: none;
}

@media (any-hover: hover) {
	button:hover {
		cursor: pointer;
	}
}

button:focus {
	outline: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	margin: 0;
}

a {
	font-family: var.$family;
	text-decoration: none;
	color: var.$lightColor;
}

a:focus {
	outline: none;
}

::selection {
	background: #800141;
}

::-moz-selection {
	background: #800141;
}

.stop-scroll {
	overflow: hidden;
}

.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	max-width: 1920px;
	margin: 0 auto;
	@include mix.adaptivFont(var.$generalTextSize, var.$generalTextSizeMin);
	line-height: var.$generalLineHeight;
}

.container {
	width: 100%;
	box-sizing: border-box;
	max-width: #{var.$widthContainer + px};
	margin: 0 auto;
	padding: 0 clamp(0.62rem, 0.3806rem + 1.0216vw, 1.3rem);
}

.main-section {
	padding: 20px 0;
}

.main-title {
	@include mix.adaptivFont(var.$titleFontSize, var.$titleFontSizeMin);
	color: var.$titleColor;
	font-weight: var.$titleWeight;
	line-height: var.$titleHeight;
	letter-spacing: clamp(0.2rem, 0.1274rem + 0.3630vw, 0.563rem);
	text-transform: uppercase;
	font-family: var.$subFamily;
}

.decore {
	position: fixed;
	z-index: 2;
	pointer-events: none;
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	&__item {
		position: relative;
		box-sizing: border-box;
		display: block;
		width: calc(100% / 7);
		height: 100vh;

		&:after {
			position: absolute;
			content: '';
			top: 0;
			right: 0;
			height: 100%;
			width: 1px;
			opacity: .5;
			background: #3e3e3e;
		}

		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}

.transition {
	position: absolute;
	z-index: 8;
	display: flex;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	pointer-events: none;

	&__section {
		width: calc(100% / 7);
		position: relative;
		overflow: hidden;
	}

	&__title {
		width: 100%;
		height: 100%;
		background: #111;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		// transform: translateX(-100%);
	}
}

@keyframes fadeEffect {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}